@using WebChatExam.Models.Repositories
@{
    ViewData["Title"] = "Chats";
    Layout = "Layouts/_Layout";
}

<link rel="stylesheet" href="~/css/chatsPage.css" />
<link rel="stylesheet" href="~/css/chatsList.css" />
<link rel="stylesheet" href="~/css/messages.css" />

<script type="text/javascript">
    function sendMessage() {
        var message = $("#messageInput").serialize();
        //alert(message);
        $.ajax({
            type: 'POST',
            url: '/Home/SendMessage',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: message,
            success: function (result) {
                //alert('Successfully received message');
                alert(result);
                //location.reload();
            }//,
            //error: function () {
            //    alert('Failed to receive the message');
            //}
        })
    }
</script>

<div class="chatsPage">
    @await Html.PartialAsync("ChatPartials/PartialChatsList")
    
    @await Html.PartialAsync("ChatPartials/PartialMessages")
    
    @await Html.PartialAsync("ChatPartials/PartialChatSettings")
</div>