@using WebChatExam.Models.Repositories
@{
    ViewData["Title"] = "Chats";
    Layout = "Layouts/_Layout";
}

<link rel="stylesheet" href="~/css/chatsPage.css" />
<link rel="stylesheet" href="~/css/chatsList.css" />
<link rel="stylesheet" href="~/css/messages.css" />

<div class="chatsPage">
    @await Html.PartialAsync("PartialChatsList")
    
    @await Html.PartialAsync("PartialMessages")
    
    @await Html.PartialAsync("PartialChatSettings")
</div>

