@{
    ViewData["Title"] = "Chats";
}

<link rel="stylesheet" href="~/css/chatsPage.css" />
<link rel="stylesheet" href="~/css/chatsList.css" />

<div class="chats">
    <form method="post" class="example" asp-controller="Home" asp-action="ChatsSearch">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
    </form>
    @for(int i =0; i < 10; i++)
    {
        <div class="chat-container darker">
            <img src="~/images/default-chat.png" alt="Avatar">
            <p><strong>Chat name @i</strong></p>
            <p>Last message</p>
            <span class="time-left">11:00</span>
            <span class="dot">11</span>
        </div>
    }
</div>

<siv class="messages">

</siv>