@using WebChatExam.Models.Repositories
@{
    ViewData["Title"] = "Chats";
    Layout = "Layouts/_Layout";
}

<link rel="stylesheet" href="~/css/chatsPage.css" />
<link rel="stylesheet" href="~/css/chatsList.css" />
<link rel="stylesheet" href="~/css/messages.css" />

<script type="text/javascript">
    document.addEventListener('keydown', function(event) {
        if (event.code == 'Enter') {
            document.getElementById("sendMessageButton").focus();
        }   
    });

    function sendMessage() {
        var message = $("#messageInput").serialize();
        $.ajax({
            type: 'POST',
            url: '/Home/SendMessage',
            data: message,
            success: function (result) {
                $("#messages").html(result);
                document.getElementById("messageInput").focus();
            }
        })
    }

    function openChat(id) {
        $.ajax({
            traditional: true,
            type: 'POST',
            url: '/Home/OpenChat',
            data: {"id": id},
            success: function(result) {
                $("#messages").html(result);
                document.getElementById("messageInput").focus();
            }
        })
    }
</script>


<div class="chatsPage">
    <div class="chats" id="chats">
        @await Html.PartialAsync("ChatPartials/PartialChatsList")
    </div>
    
    <div class="messages" id="messages"> 
        @await Html.PartialAsync("ChatPartials/PartialMessages")
    </div>
    
    <div class="chatSettings" id="settings"> 
        @await Html.PartialAsync("ChatPartials/PartialChatSettings")
    </div>
</div>