@{
    ViewData["Title"] = "Messenger";
    Layout = "Layouts/_Layout";
}

<div id="IndexDiv">
    @await Html.PartialAsync("IndexPartials/PartialChats")
    @*<partial name="IndexPartials/PartialChats" />*@
</div>