@model LoginModel
@using System.Web.Helpers
@{
    ViewData["Title"] = "Settings";
    string imageUrl = "";
}

<link rel="stylesheet" href="~/css/settings.css" />

<div class="profile-edit">
    <div class="photo-container">  
        <img src="~/images/default-user.png" alt="Avatar" class="photo-image">
        <div class="photo-overlay"><p class="photo-text">Change photo</p></div>
        <form id="form1" runat="server" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="FileUpload"/>
            <br />
            <button id="Button1" text="Upload" runat="server" onclick="Upload">Upload</button>
        </form>
    </div>
    
    <form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="UpdateUserLoginPassword">
        <div class="container forms">
            <p id="temp">Edit login & password</p>
            <hr>
            <div>
                <label asp-for="Login"><b></b></label>
                <input type="text" placeholder="Enter new Login" asp-for="Login">
                <span asp-validation-for="Login"/>
            </div>
            <br />
            <div>
                <label asp-for="Password"><b></b></label>
                <input type="password" placeholder="Enter new Password" asp-for="Password" autocomplete="off">
                <span asp-validation-for="Password"/>
            </div>
            <hr>
            <button type="submit" id="changePhotoBtn">Save</button>
        </div>
    </form>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


@*<form id="form1" runat="server" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="FileUpload"/>
        <br />
        <button id="Button1" text="Upload" runat="server" onclick="Upload" >Upload</button>
</form>*@