@model LoginModel
@using Microsoft.AspNetCore.Http
@using WebChatExam.Models.Repositories
@{
    ViewData["Title"] = "Settings";
    Layout = "Layouts/_Layout";
}

<link rel="stylesheet" href="~/css/settings.css" />

<div class="profile-edit" id="SettingsPageDiv">
    <form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="UpdateUserInfo" enctype="multipart/form-data">
        <br />
        <h2 style="text-align:center">@CurrentUser.Login</h2>
        <br />
        <div class="photo-container">
            <img src=@Url.Content(CurrentUser.PhotoUrl) alt="Avatar" class="photo-image" id="currentImage">
            <div class="photo-overlay">
                <input type="file" accept="image/*" name="uploadFile" class="changePhotoSubmit" onchange="changePhoto()" id="photoInput"/>
                <p class="photo-text">Change photo</p>
            </div>
        </div> 
    
        <hr>
    
        <div class="LoginPassword">
            <div>
                <p style="text-align:center">Change login</p>
                <label asp-for="Login"><b></b></label>
                <input type="text" placeholder="Enter new Login" asp-for="Login" class="loginInput" value="@CurrentUser.Login">
                <span asp-validation-for="Login"/>
            </div>
            <br />
            <div>
                <p style="text-align:center">Change password</p>
                <label asp-for="Password"><b></b></label>
                <input type="password" placeholder="Enter new Password" asp-for="Password" autocomplete="off" class="loginInput">
                <span asp-validation-for="Password"/>
            </div>
            <br />
            <div>
                <p style="text-align:center">Change email</p>
                <label asp-for="Email"><b></b></label>
                <input type="text" placeholder="Enter new Email" asp-for="Email" autocomplete="off" class="loginInput" value="@CurrentUser.Email">
                <span asp-validation-for="Email"/>
            </div>
            <hr>
            <button type="submit" id="changePhotoBtn">Save all changes</button>
        </div>
    </form>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}