.container {
    padding: 0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 0 0 0 0;
    border: none;
}

label {
    margin-top:25px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

hr {
    margin-bottom: 25px;
}

.registerbtn {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color:black;
    text-decoration:none;
    font-weight:bold;
    font-size:25px;
    opacity:0.7;
}
a:hover {
    text-decoration: none;
    color:black;
    opacity: 1;
}
