/* отключил скроллбар */
::-webkit-scrollbar {
    width: 0;
}

.chats {
    display: inline-block;
    height: 94%;
    width: 30%;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    cursor: pointer;
}
.messages {
    display: flex;
    flex-direction: column-reverse;
    height: 90%;
    width: 44%;
    left: 30%;
    position: fixed;
    overflow-y: scroll;
}
.chatSettings {
    display: inline-block;
    height: 90%;
    width: 26%;
    float: right;
}
.chatsPage{
    width:100%;
}


/*
    ----------------------------
    поиск
*/
form.inputLine input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    left: 0;
}

form.inputLine button {
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.inputLine::after {
    content: "";
    clear: both;
    display: table;
}

.chatSubmit {
    position: absolute;
    margin: 0;
    width: 100%;
    height:100%;
    max-height: 118px;
    opacity: 0.1;
    left: 0;
    border:none;
}


.userImage {
    width:50px;
    height:50px;
}