::-webkit-scrollbar {
    width: 0;
}

.chats {
    height: 94%;
    width: 30%;
    position: fixed;
    left: 0;
    overflow-y:scroll;
}


.messages {
    height: 100%;
    width: 70%;
    position: fixed;
    right: 0;
}



/*
    ----------------------------
    поиск
*/
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #999;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

    form.example button:hover {
        background: #9999;
    }

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}