.chat-container {
    border-radius: 5px;
    max-height:118px;
}

.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container img {
    float: left;
    max-width: 100px;
    width: 100%;
    height:100%;
    margin-right: 20px;
    border-radius: 50%;
}

.time-right {
    float: right;
}

.time-left {
    float: left;
}

.dot {
    padding: 5px;
    border-radius: 50%;
    float: right;
}
