/* common */

:root {
    --text: rgb(200,200,200);
    --text-hover: rgb(225,225,225);
    --semi-dark: rgb(75,75,75);
    --dark: rgb(50,50,50);
    --darkest: rgb(25,25,25);
}

a.topMenuItem {

}

#bodyheader {
    background-color: var(--semi-dark);
}
.profile-edit, .photo-container {
    background-color: var(--dark);
}
.txt-color {
    color:var(--text);
}
.txt-color:hover {
    color: var(--text-hover);
}

html, .text-center {
    background-color: var(--dark);
    color: var(--text);
}

input[type=text], input[type=password] {
    background: var(--darkest);
    color:var(--text);
}

    input[type=text]:focus, input[type=password]:focus {
        background: var(--darkest);
    }

hr {
    border: 1px solid black;
    margin-bottom: 25px;
}



/* authorization */

.registerbtn {
    background-color: var(--darkest);
    color: white;
}
    .registerbtn:hover {
        background-color: var(--semi-dark);
    }

.signin a {
    color: var(--text);
}
.signin a:hover{
    color: var(--text-hover);
}



/* chats list */

.chat-container {
    border: 1px solid black;
    color: var(--text);
}

.selectedChat {
    background-color: black;
}

.dot {
    background-color: var(--semi-dark);
}

/* chats page */

form.inputLine input[type=text] {
    background: var(--dark);
    color: var(--text);
    border: 1px solid black;
}

form.inputLine button {
    background: var(--semi-dark);
    color: var(--text);
    border: 1px solid black;
}

.chatSubmit:hover {
    background-color: black;
}

#changePhotoBtn {
    background: var(--semi-dark);
    color: var(--text);
    border: 1px solid black;
}



/* messages */

.message-container {
    border: 2px solid black;
    background-color: var(--dark);
    color: var(--text);
}

.message-darker {
    background-color: var(--semi-dark);
}

.message-time-right {
    color: var(--text);
}

.message-time-left {
    color: var(--text);
}





/* settings */

.photo-overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    color: white;
}





/* site */

a, p, h1, h2, h3, h4, h5, h6, li {
    color: var(--text);
}
