/* common */

:root {
    --text: rgb(200,200,200);
    --text-hover: rgb(225,225,225);
    --semi-dark: rgb(75,75,75);
    --dark: rgb(50,50,50);
    --darkest: rgb(25,25,25);
    --black: rgb(0,0,0);
}

#bodyheader {
    background-color: var(--dark);
}
.txt-color {
    color:var(--text);
}
.txt-color:hover {
    color: var(--text-hover);
}

html, .text-center {
    background-color: var(--dark);
    color: var(--text);
}

input[type=text], input[type=password] {
    background: var(--darkest);
    color:var(--text);
}

    input[type=text]:focus, input[type=password]:focus {
        background: var(--darkest);
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}



/* authorization */

.registerbtn {
    background-color: var(--darkest);
    color: white;
}
    .registerbtn:hover {
        background-color: var(--semi-dark);
    }

.signin a {
    color: var(--text);
}
.signin a:hover{
    color: var(--text-hover);
}



/* chats list */

.chat-container {
    border: 1px solid black;
    color: var(--text);
}

.dot {
    background-color: var(--semi-dark);
}

/* chats page */

form.inputLine input[type=text] {
    background: var(--dark);
    color: var(--text);
    border: 1px solid black;
}

form.inputLine button {
    background: var(--semi-dark);
    color: white;
    border: 1px solid grey;
}

.chatSubmit:hover {
    background-color: black;
}





/* messages */

.message-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
}

.message-darker {
    border-color: #ccc;
    background-color: #ddd;
}

.message-time-right {
    color: #aaa;
}

.message-time-left {
    color: #999;
}





/* settings */

.photo-overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    color: white;
}





/* site */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
