/* common */

:root {
    --text: rgb(0,0,0);
    --text-hover: rgb(100,100,100);
}

#bodyheader {
    background-color: rgb(200,200,200);
}

.txt-color {
    color: var(--text);
}

    .txt-color:hover {
        color: var(--text-hover);
    }

input[type=text], input[type=password] {
    background: #f1f1f1;
}
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}





/* authorization */

.registerbtn {
    background-color: black;
    color: white;
}

a {
    color: black;
}

.signin {
    background-color: #f1f1f1;
}





/* chats list */

.chat-container {
    border: 1px solid #ccc;
    background-color: #ddd;
}

.dot {
    background-color: #9999;
}





/* chats page */

form.inputLine input[type=text] {
    background: #f1f1f1;
    border: 1px solid grey;
}

form.inputLine button {
    background: #999;
    color: white;
    border: 1px solid grey;
}

.chatSubmit:hover {
    background-color: black;
}





/* messages */

.message-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
}

.message-darker {
    border-color: #ccc;
    background-color: #ddd;
}

.message-time-right {
    color: #aaa;
}

.message-time-left {
    color: #999;
}





/* settings */

.photo-overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    color: white;
}





/* site */

a {
    color: #0366d6;
}
