@{
    ViewData["Title"] = "Authorization";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body class="bg-secondary">
        <div class="text-center">
            <br />
            <img src="images/icon-user.png" width="256" height="256"/>
            <p>Please select one of the options.</p>
            <a class="display-4" asp-controller="Authorization" asp-action="Register" style="text-decoration:none; color:black">REGISTER</a>
            <br />
            <a class="display-4" asp-controller="Authorization" asp-action="Login" style="text-decoration:none; color:black">LOGIN</a>
        </div>
    </body>
</html>