@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AuthorizationLayout";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/authorization.css" />
    </head>
    <body>
        <div class="text-center">
            <br />
            <form asp-antiforgery="true" asp-controller="Authorization" asp-action="RegisterAction">
                <div class="container forms">
                    <h1>Register</h1>
                    <p>Please fill in this form to create an account.</p>
                    <hr>
                    <div>
                        <label asp-for="Login"><b>Login</b></label>
                        <input type="text" placeholder="Enter Login" asp-for="Login">
                        <span asp-validation-for="Login"/>
                    </div>

                    <div>
                        <label asp-for="Password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" asp-for="Password">
                        <span asp-validation-for="Password"/>
                    </div>

                    <div>
                        <label asp-for="ConfirmPassword"><b>Confirm Password</b></label>
                        <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword"/>
                    </div>
                    <hr>

                    <button type="submit" class="registerbtn">Register</button>
                </div>
            </form>
            <div class="container signin">
                <p>Already have an account?</p>
                <a asp-controller="Authorization" asp-action="Login">Sign in</a>
            </div>
        </div>
    </body>
</html>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}