@using WebChatExam.Models.Repositories
@{
    List<UserModel> users = Repository.GetUsersInCurrentChat();
}

<form class="inputLine">
    <input type="text" placeholder="Enter login of user you want to add" name="login" autocomplete="off" id="loginAddToChat">
    <button type="button" onclick="addUserToChat()" id="addUserToChatButton">Add</button>
</form>
<form class="inputLine">
     <input type="text" placeholder="Enter 'LEAVE' to leave chat" name="captcha" id="captchaForLeavingChat" autocomplete="off">
     <button type="button" onclick="leaveChat()" id="leaveChatButton">Leave</button>
</form>
<div id="chatUsers">
    <br>
    <h2>Chat members: </h2>
    @if (users is not null)
    {
        @foreach (var user in users)
        {
            <div class="message-container">
                <h6>@user.Login</h6>
            </div>
        }
    }
</div>