@using WebChatExam.Models.Repositories
@{
}

<form method="post" class="inputLine" asp-controller="Home" asp-action="AddUserToChat">
    <input type="text" placeholder="Enter username" name="login" autocomplete="off">
    <button type="submit">Add</button>
</form>
<form class="inputLine">
     <input type="text" placeholder="Enter 'LEAVE' to leave chat" name="captcha" id="captchaForLeavingChat" autocomplete="off">
     <button type="button" onclick="leaveChat()">Leave</button>
</form>