@using WebChatExam.Models.Repositories
@{
}

<form method="post" class="inputLine" asp-controller="Home" asp-action="AddUserToChat">
    <input type="text" placeholder="Enter username" name="login" autocomplete="off">
    <button type="submit">Add</button>
</form>
<form method="get" class="inputLine" asp-controller="Home" asp-action="LeaveChat">
     <input type="text" placeholder="Enter 'LEAVE' to leave chat" name="captcha" id="captcha" autocomplete="off">
    <button type="submit">Leave</button>
</form>