@using WebChatExam.Models.Repositories
@{
}

<form class="inputLine">
    <input type="text" placeholder="Enter login of user you want to add" name="login" autocomplete="off" id="loginAddToChat">
    <button type="button" onclick="addUserToChat()" id="addUserToChatButton">Add</button>
</form>
<form class="inputLine">
     <input type="text" placeholder="Enter 'LEAVE' to leave chat" name="captcha" id="captchaForLeavingChat" autocomplete="off">
     <button type="button" onclick="leaveChat()" id="leaveChatButton">Leave</button>
</form>
<div id="chatUsers">
    <h2>Chat users: </h2>
    <div class="message-container">
        <h6>user1</h6>
    </div>
    <div class="message-container">
        <h6>user2</h6>
    </div>
    <div class="message-container">
        <h6>user3</h6>
    </div>
    <div class="message-container">
        <h6>user4</h6>
    </div>
    <div class="message-container">
        <h6>user5</h6>
    </div>
    <div class="message-container">
        <h6>user6</h6>
    </div>
    <div class="message-container">
        <h6>user7</h6>
    </div>
    <div class="message-container">
        <h6>user8</h6>
    </div>
    <div class="message-container">
        <h6>user9</h6>
    </div>
    <div class="message-container">
        <h6>user10</h6>
    </div>
    <div class="message-container">
        <h6>user11</h6>
    </div>
    <div class="message-container">
        <h6>user12</h6>
    </div>
    <div class="message-container">
        <h6>user13</h6>
    </div>
    <div class="message-container">
        <h6>user14</h6>
    </div>
    <div class="message-container">
        <h6>user15</h6>
    </div>
</div>